@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
img {
  max-width: 100%;
}

a:focus,
button:active,
button:focus,
area:active,
area:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: #e9e6f7;
}

.mask {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
}

.main {
  max-width: 720px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 720.98px) {
  .main {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.scroll {
  position: fixed;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
  width: 10%;
  max-width: 69px;
  -webkit-animation: scrollAni 1s infinite alternate;
          animation: scrollAni 1s infinite alternate;
}

@-webkit-keyframes scrollAni {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }
}

@keyframes scrollAni {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }
}

.section1 {
  background-image: url("../img/bg1.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1282px;
  position: relative;
  padding-top: 45px;
}

@media screen and (max-width: 720.98px) {
  .section1 {
    padding-top: 6vw;
    height: 178vw;
  }
}

.section1__name {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 720.98px) {
  .section1__name {
    margin-bottom: 17vw;
  }
}

.section1__name img {
  display: block;
  width: 14.2%;
}

.section1__title {
  margin-bottom: 50px;
  position: relative;
  z-index: 5;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

@media screen and (max-width: 720.98px) {
  .section1__title {
    margin-bottom: 7vw;
  }
}

.section1__describe {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  letter-spacing: 8px;
  line-height: 1.75;
  position: relative;
  z-index: 5;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

@media screen and (max-width: 720.98px) {
  .section1__describe {
    font-size: 3.5vw;
    letter-spacing: 1vw;
  }
}

.section1__desert {
  position: absolute;
  bottom: 0;
  z-index: 8;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}

.section1__patrickimg {
  position: absolute;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.section1 .moon {
  position: absolute;
  right: 11%;
  top: 11%;
  z-index: 4;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}

@media screen and (max-width: 720.98px) {
  .section1 .moon {
    width: 8vw;
    height: 8vw;
  }
}

.section1 .cloud1 {
  position: absolute;
  top: 6%;
  right: 0;
  z-index: 5;
  width: 22%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.section1 .cloud2 {
  position: absolute;
  top: 36%;
  left: 0;
  z-index: 5;
  width: 20%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.section1 .cloud3 {
  position: absolute;
  top: 62%;
  right: 0;
  z-index: 15;
  width: 56%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.allstar {
  width: 100%;
  height: 60%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

[class^="star"] {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-animation: falling 3s infinite;
          animation: falling 3s infinite;
}

@media screen and (max-width: 720.98px) {
  [class^="star"] {
    -webkit-animation: falling 4s infinite;
            animation: falling 4s infinite;
  }
}

[class^="star"]:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 1px;
  -webkit-transform: translate(36px, -16px) rotate(-45deg);
          transform: translate(36px, -16px) rotate(-45deg);
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 0, 0, 0)));
  background: linear-gradient(to right, white, rgba(255, 0, 0, 0));
}

.star1 {
  position: absolute;
  top: 1.11381%;
  left: 50.80761%;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.star2 {
  position: absolute;
  top: 33.23533%;
  left: 24.38415%;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.star3 {
  position: absolute;
  top: -28.58029%;
  left: 67.94228%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.star4 {
  position: absolute;
  top: 17.61123%;
  left: 59.66221%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.star5 {
  position: absolute;
  top: 2.18674%;
  left: 28.05337%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.star6 {
  position: absolute;
  top: -32.16389%;
  left: 4.84345%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.star7 {
  position: absolute;
  top: 6.68966%;
  left: 81.69522%;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
}

.star8 {
  position: absolute;
  top: -25.29065%;
  left: 37.46276%;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

@-webkit-keyframes falling {
  0%,
  100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(350px, 0);
            transform: translate(350px, 0);
  }
  100% {
    -webkit-transform: translate(0, 400px);
            transform: translate(0, 400px);
  }
}

@keyframes falling {
  0%,
  100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(350px, 0);
            transform: translate(350px, 0);
  }
  100% {
    -webkit-transform: translate(0, 400px);
            transform: translate(0, 400px);
  }
}

@media screen and (max-width: 720.98px) {
  @-webkit-keyframes falling {
    0%,
    100% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    0% {
      -webkit-transform: translate(170px, 0);
              transform: translate(170px, 0);
    }
    100% {
      -webkit-transform: translate(0, 260px);
              transform: translate(0, 260px);
    }
  }
  @keyframes falling {
    0%,
    100% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    0% {
      -webkit-transform: translate(170px, 0);
              transform: translate(170px, 0);
    }
    100% {
      -webkit-transform: translate(0, 260px);
              transform: translate(0, 260px);
    }
  }
}

.section2 {
  background-image: url("../img/bg2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 270px 0 65px;
  position: relative;
}

@media screen and (max-width: 720.98px) {
  .section2 {
    padding: 38vw 0 11vw;
  }
}

.section2__describe1 {
  position: relative;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  line-height: 1.75;
  margin-bottom: 190px;
}

@media screen and (max-width: 720.98px) {
  .section2__describe1 {
    font-size: 3.5vw;
    letter-spacing: 1vw;
    margin-bottom: 25vw;
  }
}

.section2__describe1 .first-quote {
  position: absolute;
  top: -15%;
  left: 15%;
}

@media screen and (max-width: 720.98px) {
  .section2__describe1 .first-quote {
    left: 12%;
  }
}

.section2__describe1 .last-quote {
  position: absolute;
  bottom: -20%;
  right: 18%;
}

@media screen and (max-width: 720.98px) {
  .section2__describe1 .last-quote {
    right: 15%;
  }
}

.section2__describe2 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.9;
  margin-bottom: 0;
}

@media screen and (max-width: 720.98px) {
  .section2__describe2 {
    font-size: 3.5vw;
    letter-spacing: 1vw;
    line-height: 1.8;
  }
}

.section2 .cloud4 {
  position: absolute;
  right: 0;
  top: 65%;
  width: 28%;
  z-index: 2;
  opacity: 0.5;
}

.section2 .cloud5 {
  position: absolute;
  left: 0;
  bottom: -3%;
  width: 33%;
  opacity: 0.5;
}

svg#circle1 {
  position: absolute;
  max-width: 100%;
  top: 0;
  left: -30%;
}

svg#circle2 {
  position: absolute;
  max-width: 100%;
  top: 18%;
  right: -29%;
}

svg.waves {
  width: 720px;
  position: relative;
  width: 100%;
  height: 145px;
  margin-bottom: 60px;
}

@media screen and (max-width: 720.98px) {
  svg.waves {
    height: 25vw;
    margin-bottom: 3vw;
  }
}

.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.parallax > use:nth-child(2) {
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.parallax > use:nth-child(3) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.parallax > use:nth-child(5) {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.parallax > use:nth-child(6) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}

@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

.section3 {
  background-image: url("../img/bg3.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}

@media screen and (max-width: 720.98px) {
  .section3 {
    padding-bottom: 11vw;
  }
}

.section3__line1 {
  margin-bottom: 35px;
}

@media screen and (max-width: 720.98px) {
  .section3__line1 {
    margin-bottom: 5vw;
  }
}

.section3__title {
  margin-bottom: 25px;
}

@media screen and (max-width: 720.98px) {
  .section3__title {
    margin-bottom: 3.5vw;
  }
}

.section3__describe {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.9;
  margin-bottom: 100px;
}

@media screen and (max-width: 720.98px) {
  .section3__describe {
    font-size: 3.5vw;
    letter-spacing: 1vw;
    line-height: 1.8;
    margin-bottom: 10vw;
  }
}

.moon__modal {
  padding: 260px 0;
  position: relative;
}

@media screen and (max-width: 720.98px) {
  .moon__modal {
    padding: 38vw 0;
  }
}

.moon__modal--text {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.9;
  margin-bottom: 0;
}

@media screen and (max-width: 720.98px) {
  .moon__modal--text {
    font-size: 3.5vw;
    letter-spacing: 1vw;
    line-height: 1.8;
  }
}

.moon__modal--btn {
  position: absolute;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.moon__modal--btn img {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.moon__modal--btn:hover img {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.moon__modal--btn.modal1 {
  top: -3%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 24%;
}

@media screen and (max-width: 720.98px) {
  .moon__modal--btn.modal1 {
    top: 0;
  }
}

.moon__modal--btn.modal2 {
  top: 17%;
  right: 14%;
  width: 15%;
}

.moon__modal--btn.modal3 {
  top: 55%;
  right: 14%;
  width: 16%;
}

.moon__modal--btn.modal4 {
  bottom: -3%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 20%;
}

.moon__modal--btn.modal5 {
  top: 55%;
  left: 14%;
  width: 18%;
}

.moon__modal--btn.modal6 {
  top: 17%;
  left: 13%;
  width: 20%;
}

.section4 {
  background-image: url("../img/bg4.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 50px;
  border-bottom: 2px solid #5f5ac3;
}

@media screen and (max-width: 720.98px) {
  .section4 {
    padding-top: 4vw;
    padding-bottom: 7vw;
  }
}

.section4__line2 {
  margin-bottom: 55px;
}

@media screen and (max-width: 720.98px) {
  .section4__line2 {
    margin-bottom: 9vw;
  }
}

.section4__describe1 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.9;
  margin-bottom: 100px;
}

@media screen and (max-width: 720.98px) {
  .section4__describe1 {
    font-size: 3.5vw;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 12vw;
  }
}

.section4__title {
  margin-bottom: 20px;
}

@media screen and (max-width: 720.98px) {
  .section4__title {
    margin-bottom: 5vw;
  }
}

.section4__describe2 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.9;
  margin-bottom: 55px;
}

@media screen and (max-width: 720.98px) {
  .section4__describe2 {
    font-size: 3.5vw;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 6vw;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 330px;
}

@media screen and (max-width: 720.98px) {
  .form {
    margin-bottom: 50vw;
  }
}

.form-group {
  margin-bottom: 40px;
  padding-bottom: 30px;
  position: relative;
}

@media screen and (max-width: 720.98px) {
  .form-group {
    margin-bottom: 3vw;
    padding-bottom: 6vw;
  }
}

.form-group span {
  position: absolute;
  bottom: 0;
  left: 20px;
  font-size: 1.25rem;
  font-weight: 300a;
  color: #fff100;
  letter-spacing: 2px;
  display: none;
}

@media screen and (max-width: 720.98px) {
  .form-group span {
    font-size: 3.5vw;
  }
}

.form-group input {
  border-radius: 15px;
  font-size: 2rem;
  height: 60px;
}

@media screen and (max-width: 720.98px) {
  .form-group input {
    font-size: 5vw;
    height: 11vw;
  }
}

.form-group input.error {
  -webkit-box-shadow: 0 0 0 2px #ee7469;
          box-shadow: 0 0 0 2px #ee7469;
}

.form-group ::-webkit-input-placeholder {
  color: #000;
  opacity: 0.3;
}

.form-group :-ms-input-placeholder {
  color: #000;
  opacity: 0.3;
}

.form-group ::-ms-input-placeholder {
  color: #000;
  opacity: 0.3;
}

.form-group ::placeholder {
  color: #000;
  opacity: 0.3;
}

button#submit {
  background-color: #ff7b71;
  color: #fff;
  padding: 5px 50px;
  border-radius: 50px;
  font-size: 2.5rem;
  border: none;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button#submit:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 720.98px) {
  button#submit {
    padding: 0.5vw 5vw;
    border-radius: 5vw;
    font-size: 5vw;
  }
}

button#submit.pointernone {
  pointer-events: none;
  background-color: #ccc;
}

.modal-dialog {
  max-width: 620px;
}

.modal-content {
  border: none;
  border-radius: 20px;
}

.modal-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding-bottom: 0;
}

.modal-header button {
  opacity: 1;
}

.modal-header span {
  display: block;
  background-color: #7d79d1;
  color: #fff;
  padding: 10px;
  font-size: 2rem;
  border-radius: 100px;
}

@media screen and (max-width: 720.98px) {
  .modal-header span {
    font-size: 7vw;
    padding: 1vw;
  }
}

.modal-header .title {
  color: #514cad;
  font-size: 2rem;
  margin-bottom: 0;
  letter-spacing: 3px;
}

@media screen and (max-width: 720.98px) {
  .modal-header .title {
    font-size: 6vw;
  }
}

.modal-body {
  border: none;
}

.modal-body p {
  color: #514cad;
  font-size: 1.4rem;
  letter-spacing: 2px;
  line-height: 1.7;
  margin-top: 15px;
  margin-bottom: 0;
}

@media screen and (max-width: 720.98px) {
  .modal-body p {
    font-size: 4vw;
    letter-spacing: 1px;
  }
}

#formsubmit .modal-body {
  padding-top: 0;
}

#formsubmit .modal-body p {
  font-size: 1.3rem;
}

@media screen and (max-width: 720.98px) {
  #formsubmit .modal-body p {
    font-size: 4vw;
    letter-spacing: 1px;
  }
}
/*# sourceMappingURL=all.css.map */